@using Gateway.Web.Models.Request
@model CubeModel
@{
    Layout = "~/Views/Shared/_Layout.Empty.cshtml";
    ViewBag.Title = "Cube";
}

<div>

    @if (Model.HasAttributes)
    {
        <h3>Attributes</h3>
        @Html.Raw(@Model.Attributes)
        <br />
    }

    <h3>Data</h3>
    @Html.Raw(@Model.Rows)

</div>
