@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Request
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Request";
    ViewBag.Current = "Payloads";
}
@{ Html.RenderPartial("_RequestNav", (Payloads)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3 class="text-lowercase">Payloads</h3>
        @foreach (PayloadModel payload in Model.Items)
        {
            <br />
            <h4>
                @payload.Direction
                @if (payload.Id != 0)
                {
                    @Html.ActionLink(" ", "Download", "Request", new { correlationId = Model.CorrelationId, payloadId = payload.Id }, new { @class = "glyphicon glyphicon-download hoverlink", title = "Download converted payload" })
                }
                @if (payload.IsCube)
                {
                    @Html.ActionLink(" ", "DownloadCube", "Request", new { correlationId = Model.CorrelationId, payloadId = payload.Id }, new { @class = "glyphicon glyphicon-save hoverlink", title = "Download cube" })
                }
            </h4>
            <pre style="height:280px">@payload.Data</pre>
            <br />
        }
    </div>
</div>
