<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Environment" value="PROD" />
  <add key="KnownGateways" value="JHBPSM050000144" />
  <add key="ControllerActionRefresh" value="60" />
</appSettings>