@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    ViewBag.Title = "Not Found";
}

<div class="hero-unit">

    <h3>Not Found</h3>


</div>
