@model Gateway.Web.Models.AuthorizationModel
@{
    ViewBag.Title = "Unauthorized";
}

<div class="hero-unit">

    <h3>Unauthorized</h3>

    @if (Model != null)
    {
        <p>
            <b>Username:</b> @Model.Username<br />
            <b>Token:</b> @Model.Token
        </p>

        <div>
            <p>
                <b>Roles:</b>
            </p>
            <div style="overflow: scroll;">
                <pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
@string.Join("\r\n", Model.Roles)
                </pre>
            </div>
        </div>
    }

</div>
