@{
    ViewBag.Title = "Unauthorized";
}

<div class="hero-unit">

    <h3>Unauthorized</h3>

    <p>
        Please access Redstone Dashboard via the <a href="@Html.Raw(MvcApplication.SigmaHomePage)">home page</a>.
    </p>

</div>
