@model Gateway.Web.Models.Security.ReportsModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Security";
    ViewBag.Current = "Please Select Report";
    ViewBag.Report = "";
}
@{ Html.RenderPartial("_SecurityReportsNav", @Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">

    </div>
</div>
