<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Environment" value="DEV" />
  <add key="TickerIntervalMs" value="2000" />
  <add key="ControllerActionRefresh" value="60" />
  <add key="LogLocation" value="C:\DATA\LogFiles\Redstone\UI\" />
  <add key="ConsoleLogLevel" value="INFO" />
  <add key="FileLogLevel" value="ERROR"/>
  <add key="ImportantLogLevel" value="WARN" />
</appSettings>