@{
    ViewBag.Title = "About";
}

<div class="hero-unit">

    <h3>About</h3>

    <br />
    under construction - this page will show general information about redstone, contact details
    and wiki links.

</div>
