@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="hero-unit">
    <p>
        Welcome to a Redstone Gateway
    </p>
    <p>
        This site shows a detail aggregated view of current gateway queues and controllers.
    </p>
    <h2>Frequently asked questions</h2>
    <p>
        To do...
    </p>
    <p>
        To do...
    </p>
</div>
