@{
    ViewBag.Title = "How To";
}

<div class="hero-unit">

    <h3>How To</h3>

    <br />
    under construction - this page will show information on how to create a controller (for developers).

    e.g.

    <ol>
        <li>Step 1</li>
        <li>Step 2: Install Visual Studio Templates</li>
        <li>Step 3: ...</li>
    </ol>

    <p>Once you've done all that then:</p>

    <ul>
        <li>Stage your binaries to the controller repository.</li>
        <li>Send us an <a href="mailto:CIBAfricaPricingand@barclayscapital.com">email</a>.</li>
    </ul>

    <p>Have fun! :-)</p>

    <h3>- Team Redstone</h3>
</div>