@{
    ViewBag.Title = "How To";
}
<h2>@ViewBag.Title.</h2>

<div class="hero-unit">
    <h2>Creating a Controller</h2>

    <p>To do - create a information page for creating a controller (perhaps with links to wiki):</p>

    <ol>
        <li>Step 1</li>
        <li>Step 2: Install Visual Studio Templates</li>
        <li>Step 3: ...</li>
    </ol>

    <p>Once you've done all that then:</p>

    <ul>
        <li>Stage your binaries to the controller repository.</li>
        <li>Send us an <a href="mailto:CIBAfricaPricingand@barclayscapital.com">email</a>.</li>
    </ul>

    <p>Have fun! :-)</p>

    <h3>- Team Redstone</h3>
</div>