@using Gateway.Web.Models.Controller
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">

    <h3>Redstone Dashboard</h3>
    <p>Welcome to the Redstone API Gateway Dashboard.</p>

    <ul>
        <li>@Html.ActionLink("Controllers", "Dashboard", "Controllers")</li>
        <li>@Html.ActionLink("Current Running Hosts", "Workers", "Controllers")</li>
        <li>@Html.ActionLink("Recent History", "History", "Controllers")</li>
    </ul>
    <br/>

    <br/>
    <h3>Last @Model.Requests.Count requests</h3>
    <br />

    <div class="containerx bulk">
        @{ Html.RenderPartial("_HistoryItems", (List<HistoryItem>)@Model.Requests); }
    </div>

    <br />
</div>