@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.Controllers
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Current = "Quick Links";
}
@model Gateway.Web.Models.Home.IndexModel
@{ Html.RenderPartial("_IndexNav"); }

    

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3 class="text-lowercase">Controllers</h3>

        <br style="clear:both" />
        <table style="width: 100%; white-space: nowrap" class="datatable table" id="searchable-table">
            <thead>
                <tr>
                    <td colspan="2"><b>Controllers</b></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group">
                            <input class="form-control col-sm-11"
                                   placeholder="search the requests below..."
                                   data-input="quick-search"
                                   data-search-target="#searchable-table tbody > tr"
                                   name="quick-search"
                                   type="text">
                            <span class="col-sm-1 form-control-feedback form-action-clear glyphicon glyphicon-remove form-control input-group-addon"
                                  aria-hidden="true"></span>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var controller in Model.Controllers)
                {                    
                    <tr >
                        <td data-href="@(Url.Action("History", "Controller", new {id = controller.DisplayName}))">@controller.DisplayName</td>
                        <td   style="width:20px"><a title="Eye of Sauron" href="#" onclick="popup('@Url.Content("~/Controllers/RedisStats")?ControllerName=@controller.Name&ControllerVersionName=@controller.Version&MaxPriority=@controller.MaxPriority','@controller.Name',@controller.MaxPriority);" style="float:right;" class="glyphicon glyphicon-eye-open"></a></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</div>