<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Environment" value="UAT" />
  <add key="ControllerActionRefresh" value="60" />
  <add key="LogLocation" value="D:\DATA\LogFiles\Redstone\UI\" />
  <add key="ConsoleLogLevel" value="INFO" />
  <add key="FileLogLevel" value="ERROR"/>
  <add key="ImportantLogLevel" value="WARN" />
  <add key="RemoteAppsDirectory" value="\\Intranet.barcapint.com\dfs-emea\Group\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Apps"/>
  <add key="ApiDocumentationPath" value="\\intranet.barcapint.com\dfs-emea\GROUP\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Controllers\{0}\{1}\Documentation\API" />
  <add key="ExcelDocumentationPath" value="\\intranet.barcapint.com\dfs-emea\GROUP\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Controllers\{0}\{1}\Documentation\EXCEL" />
  <add key="SchedulingConnectionString" value="data source=ZAPRNBMSQL1046\SIGMA_MAIN1_UAT;initial catalog=Gateway;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" />
  <add key="LocalGateway" value="localhost" />
  <add key="KnownGateways" value="localhost" />
  <add key="OverrideLocalGateway" value="true" />
</appSettings>