@using Gateway.Web.Services
@model Gateway.Web.Models.Controllers.VersionsModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Actions";
}
@{ Html.RenderPartial("_ControllersNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">       
        <div>
            <h3>create controller</h3>
            <hr />
            <ul style="list-style: circle">
                <li>Create a new controller</li>
            </ul>
            <p>
                <a href="~/Controllers/Create/">
                    <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Create
                </a>
            </p>
        </div>

    </div>
</div>