@using Gateway.Web.Services
@model Gateway.Web.Models.Controllers.VersionsModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Master Version";
}
@{ Html.RenderPartial("_ControllersNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">
        <div>
            <h3>controllers versions</h3>
            <hr />
            <ul style="list-style: circle">
                <li>Mark all latest versions of controllers as active</li>
                <li>Set recent versions to inactive</li>
                <li>Delete versions that are older than 4 versions before latest AND are not aliased or referenced by add-ins</li>
            </ul>
            <p>
                <a href="~/Controllers/Versions/">
                    <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;update all versions
                </a>
            </p>
        </div>

        <div>
            <h3>create controller</h3>
            <hr />
            <ul style="list-style: circle">
                <li>Create a new controller</li>
            </ul>
            <p>
                <a href="~/Controllers/Create/">
                    <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Create
                </a>
            </p>
        </div>

    </div>
</div>