@using Gateway.Web.Models.Controller

@model ConfigurationModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Create";
    ViewBag.Current = "Create";
}

@{ Html.RenderPartial("_ControllersNav"); }
<div id="page-content-wrapper">
    <div class="hero-unit">
        <h3 class="text-lowercase">@ViewBag.Title</h3>

        @using (Html.BeginForm("Create", "Controllers", FormMethod.Post, new { name = "form", @class = "form-horizontal", role = "form" }))
        {
            @Html.Partial("_ControllerConfiguration", @Model);
        }
    </div>
</div>