@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Queues";
}
@{ Html.RenderPartial("_ControllersNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="text-lowercase">Queues</h3>
            </div>
        </div>

        <div class="row selection-filter selection-filter-main" data-storage-key="selected-controllers">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <span id="selection-filter-viewing-label">Viewing </span>
                <span class="label label-primary" id="selection-filter-0"></span>
                <span class="label label-primary" id="selection-filter-1"></span>
                <span class="label label-primary" id="selection-filter-2"></span>
                <span class="label label-primary" id="selection-filter-3"></span>
                <span class="label label-primary" id="selection-filter-4"></span>
                <span class="label label-default selection-filter-button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Change Selection</span>
                <span class="label label-default selection-filter-button" id="selection-filter-clear">Clear Selection</span>
            </div>
        </div>

        <div class="row selection-filter">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        <div class="row">
                            @foreach (var controller in Model.Controllers)
                            {
                                <div class="col-md-3">
                                    <span class="label label-info selection-filter-label" data-value="@controller">@controller</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row chart-panel">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Current Queue Data (Past Minute)
                        <span class="badge pull-right" id="current-queues-chart-last-updated"></span>
                    </div>
                    <div class="panel-body">
                        <p>The data below has been aggregated per controller across all versions.</p>
                        <div id="current-queues-chart"></div>
                        <div class="row" id="current-queues-chart-progress">
                            <div class="col-xs-12 chart-progress-bar">
                                <img src="../../Content/img/ajax-loader.gif" alt="progress"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Historial Queue Data (Past 24 Hours)
                        <span class="badge pull-right" id="historical-queues-chart-last-updated"></span>
                    </div>
                    <div class="panel-body">
                        <p>The data below has been aggregated per controller across all versions.</p>
                        <div id="historical-queues-chart"></div>
                        <div class="row" id="historical-queues-chart-progress">
                            <div class="col-xs-12 chart-progress-bar">
                                <img src="../../Content/img/ajax-loader.gif" alt="progress"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
