@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Servers";
}
@{ Html.RenderPartial("_ControllersNav"); }

<div id="page-content-wrapper">

    <div class="hero-unit">

        <h3>Gateway Servers</h3>

        <div class="containerx bulk">

            @foreach (Server server in Model.Servers)
            {
                <div class="widget">
                    <div class="content">
                        <div class="list-head clearfix">
                            <h3 style="margin: 0 40px 0 0;">
                                <span class="glyphicon glyphicon-hdd"></span> @server.Node
                            </h3>
                            <small>
                                Queues: <b>@server.Queues</b>
                                Workers: <b>@server.Workers</b>
                            </small>
                            <br />
                            <br />

                            <div style="float: left;">
                                <table style="min-width: 200px; padding: 10px">
                                    <tr>
                                        <td style="width: 150px">
                                            <span class="glyphicon glyphicon-tasks" style="color: green"></span>&nbsp;&nbsp;CPU
                                        </td>
                                        <td><div id="cpu"></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 150px">
                                            <span class="glyphicon glyphicon-thumbs-up" style="color: red"></span>&nbsp;&nbsp;Memory
                                        </td>
                                        <td>?</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 150px">
                                            <span class="glyphicon glyphicon-hdd" style="color: gray"></span>&nbsp;&nbsp;Disk
                                        </td>
                                        <td>?</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
    </div>
</div>

<ul id="Chats"></ul>
@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/Hubs"></script>
    <script>
        $(function () {

            // Get a reference to our hub
            var hub = $.connection.cpuInfo;

            // Add a handler to receive updates from the server
            hub.client.cpuInfoMessage = function(machineName, cpu, memUsage, memTotal) {
                //('#Chats').set('<li><strong>' + htmlEncode(machineName) + '</strong>: ' + htmlEncode(cpu) + '</li>');

                alert("dfsdfsd");
            };

            // Start the connection
            $.connection.hub.start().done(function() {

                //console.("sfdksfl;mdl");
                alert("dfsdfsd");
                //  ('#Chats').append('<li><strong>' + htmlEncode("stat") + '</strong>: ' + htmlEncode("uwue") + '</li>');
            });

            function htmlEncode(value) {
                var encodedValue = $('<div />').text(value).html();
                return encodedValue;
            }
        });
    </script>
}