@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Servers";
}
@{ Html.RenderPartial("_ControllersNav"); }

<div id="page-content-wrapper">

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/Scripts/Controllers/ServerTicker.js"></script>

    <div class="hero-unit">
        <h3>Servers</h3>
        <hr />

        <div id="serverTable">
            <div>
                loading...
            </div>
        </div>
    </div>

    <script src="/signalr/Hubs"></script>
</div>