@using Gateway.Web.Models.Controllers
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Infrastructure";
    ViewBag.Current = "Servers";
}

@{ Html.RenderPartial("_ControllersInfrastructureNav"); }

<div id="page-content-wrapper">

    <div class="hero-unit">
        <h3 class="text-lowercase">Servers</h3>

        <br />
        @foreach (Server server in Model.Servers)
        {
            <div class='widget'>

                <div class='content alert alert-@server.Status'>

                    <span class='glyphicon glyphicon-hdd'>
                        <span class='h3'>&nbsp;</span>
                        <span class='h3 text-uppercase'>@server.Node</span>
                    </span>
                    <br />

                </div>

                <div class='content' style='margin-bottom: 20px; margin-top: 20px;'>

                    <div class='glyphicon glyphicon-list-alt text-left'>
                        <span class='server-info-label'>Workers</span>
                        <span class='server-info-value'>&nbsp;@server.Workers</span>
                    </div>
                    <br />
                    <div class='glyphicon glyphicon-random text-left'>
                        <span class='server-info-label'> Queues:</span>
                        <span class='server-info-value text-right'>&nbsp;@server.Queues</span>
                    </div>
                    <br />
                    <div class='glyphicon glyphicon-th text-left'>
                        <span class='server-info-label'> CPU Usage:</span>
                        <span class='server-info-value text-right'>&nbsp;@server.Cpu</span>
                    </div>
                    <br />
                    <div class='glyphicon glyphicon-tasks text-left'>
                        <span class='server-info-label'>Memory Avail.:</span>
                        <span class='server-info-value text-right'>&nbsp;@server.Memory</span>
                    </div>

                </div>

                <div class='content alert alert-@server.Status' style='text-align: center;margin-bottom: 0; margin-top: 0;'>
                    <b>@server.Output</b>
                </div>

            </div>
        }

    </div>
</div>