@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Servers";
}

@{ Html.RenderPartial("_ControllersNav"); }

<div id="serverTable">
    @{Html.RenderAction("ServerInfo");}
</div>

<script type="text/javascript">
    var isBusy = false;
    setInterval(function () {
        if (isBusy === true) return;

        isBusy = true;

        //The setInterval will refresh every minute
        $.ajax({
            url: "@Url.Action("ServerInfo")"
        }).success(function (data) {
            $("#serverTable").html(data);
            isBusy = false;
        }).error(function (e) {
            isBusy = false;
            $("#serverTable").html(e);
        });
    }, 60000);

</script>