@using Gateway.Web.Services
@model Gateway.Web.Models.Controllers.VersionsModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Master Version";
}
@{ Html.RenderPartial("_ControllersNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3>Cleanup Versions of Controllers </h3>
        <hr />

        <div class="list-group, @(Model.Loaded ? "hide" : "show")">
            <ul style="list-style: circle">
                <li>Mark all latest versions of controllers as active</li>
                <li>Set recent versions to inactive</li>
                <li>Delete versions that are older than 4 versions before latest AND are not aliased or referenced by add-ins</li>
            </ul>
            <br />

            @using (Html.BeginForm("Versions", "Controllers", FormMethod.Post, new { name = "form", @class = "form-horizontal", role = "form" }))
            {
                <img src="../../Content/img/ajax-loader.gif" id="loading" />
                <button class="btn btn-default btn-sm" type="submit" i="submit">
                    Update All Versions
                </button>
            }
        </div>

        <br />

        <div class="@(Model.Loaded ? "show" : "hide")">
            <table style="width: 100%; white-space: nowrap" class="datatable">
                <thead>
                    <tr><td>The following actions will be applied:</td></tr>
                </thead>
                @foreach (var item in @Model.Log)
                {
                    <tr><td>@item</td></tr>
                }
            </table>
        </div>
    </div>
</div>