@using Gateway.Web.Services
@model Gateway.Web.Models.Controllers.VersionsModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "All Controllers";
    ViewBag.Current = "Master Version";
}
@{ Html.RenderPartial("_ControllersNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3>Cleanup Versions of Controllers </h3>
        <hr />

        <br />

        <div class="list-group, @(Model.Loaded ? "hide" : "show")">
            <table style="width: 100%; white-space: nowrap" class="datatable">
                <thead>
                    <tr><td> The following actions will be applied:</td></tr>
                </thead>
                <tr><td> Mark all latest versions of controllers as active</td></tr>
                <tr><td> Mark all other versions as inactive unless they have an alias (e.g. official) or they are the pricing/riskbatch controllers</td></tr>
                <tr><td> For pricing/riskbatch controllers mark as inactive if they do not have alias AND there is no assigned PnRLib add-in version to any group or user</td></tr>
                <tr><td> Delete all versions that are inactive/disabled older than 4 versions before latest</td></tr>
            </table>

            <br />

            @using (Html.BeginForm("Versions", "Controllers", FormMethod.Post, new { name = "form", @class = "form-horizontal", role = "form" }))
            {
                <img src="../../Content/img/ajax-loader.gif" id="loading" />
                <button type="submit" i="submit">
                    Update All Versions
                </button>
            }
        </div>

        <br />

        <div class="@(Model.Loaded ? "show" : "hide")">
            <table style="width: 100%; white-space: nowrap" class="datatable">
                <thead>
                    <tr><td>The following actions will be applied:</td></tr>
                </thead>
                @foreach (var item in @Model.Log)
                {
                    <tr><td>@item</td></tr>
                }
            </table>
        </div>
    </div>
</div>