@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Controller";
    ViewBag.Current = "Configuration";
}
@{ Html.RenderPartial("_ControllerNav", (BaseControllerModel)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3>Configuration</h3>

        <br />
        under construction - this page will allow modification of scaling strategy, time 
        to live and throttling configuration.

    </div>
</div>