@using Gateway.Web.Models.Controller

@model ConfigurationModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Configure";
    ViewBag.Current = "Configuration";
}

@{ Html.RenderPartial("_ControllerNav", @Model); }
<div id="page-content-wrapper">
    <div class="hero-unit">
        <h3 class="text-lowercase">@ViewBag.Title</h3>
        <br />
        @using (Html.BeginForm("Configuration", "Controller", FormMethod.Post,
                new { name = "form", @class = "form-horizontal", role = "form" }))
        {
            @Html.Partial("_ControllerConfiguration", @Model);
        }
    </div>
</div>