@using Gateway.Web.Models.Controller

@model ConfigurationModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Configure";
    ViewBag.Current = "Configuration";
}

@{ Html.RenderPartial("_ControllerNav", @Model); }
<div id="page-content-wrapper">
    <div class="hero-unit">
        <h3>@ViewBag.Title</h3>
        <hr/>
        @using (Html.BeginForm("Configuration", "Controller", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.Partial("_ControllerConfiguration", @Model)
            ;
        }
    </div>
</div>