@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    ViewBag.Title = "Glyphs";
}

<div class="hero-unit">

    <h3>Glyphs</h3>

    <ul>
        <li><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;glyphicon-asterisk</li>
        <li><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;glyphicon-plus</li>
        <li><span class="glyphicon glyphicon-euro"></span>&nbsp;&nbsp;glyphicon-euro</li>
        <li><span class="glyphicon glyphicon-eur"></span>&nbsp;&nbsp;glyphicon-eur</li>
        <li><span class="glyphicon glyphicon-minus"></span>&nbsp;&nbsp;glyphicon-minus</li>
        <li><span class="glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;glyphicon-cloud</li>
        <li><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;glyphicon-envelope</li>
        <li><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;glyphicon-pencil</li>
        <li><span class="glyphicon glyphicon-glass"></span>&nbsp;&nbsp;glyphicon-glass</li>
        <li><span class="glyphicon glyphicon-music"></span>&nbsp;&nbsp;glyphicon-music</li>
        <li><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;glyphicon-search</li>
        <li><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;glyphicon-heart</li>
        <li><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;glyphicon-star</li>
        <li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;glyphicon-star-empty</li>
        <li><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;glyphicon-user</li>
        <li><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;glyphicon-film</li>
        <li><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;glyphicon-th-large</li>
        <li><span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;glyphicon-th</li>
        <li><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;glyphicon-th-list</li>
        <li><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;glyphicon-ok</li>
        <li><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;glyphicon-remove</li>
        <li><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;&nbsp;glyphicon-zoom-in</li>
        <li><span class="glyphicon glyphicon-zoom-out"></span>&nbsp;&nbsp;glyphicon-zoom-out</li>
        <li><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;glyphicon-off</li>
        <li><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;glyphicon-signal</li>
        <li><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;glyphicon-cog</li>
        <li><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;glyphicon-trash</li>
        <li><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;glyphicon-home</li>
        <li><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;glyphicon-file</li>
        <li><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;glyphicon-time</li>
        <li><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;glyphicon-road</li>
        <li><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;glyphicon-download-alt</li>
        <li><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;glyphicon-download</li>
        <li><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;glyphicon-upload</li>
        <li><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;glyphicon-inbox</li>
        <li><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;glyphicon-play-circle</li>
        <li><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;glyphicon-repeat</li>
        <li><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;glyphicon-refresh</li>
        <li><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;glyphicon-list-alt</li>
        <li><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;glyphicon-lock</li>
        <li><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;glyphicon-flag</li>
        <li><span class="glyphicon glyphicon-headphones"></span>&nbsp;&nbsp;glyphicon-headphones</li>
        <li><span class="glyphicon glyphicon-volume-off"></span>&nbsp;&nbsp;glyphicon-volume-off</li>
        <li><span class="glyphicon glyphicon-volume-down"></span>&nbsp;&nbsp;glyphicon-volume-down</li>
        <li><span class="glyphicon glyphicon-volume-up"></span>&nbsp;&nbsp;glyphicon-volume-up</li>
        <li><span class="glyphicon glyphicon-qrcode"></span>&nbsp;&nbsp;glyphicon-qrcode</li>
        <li><span class="glyphicon glyphicon-barcode"></span>&nbsp;&nbsp;glyphicon-barcode</li>
        <li><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;glyphicon-tag</li>
        <li><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;glyphicon-tags</li>
        <li><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;glyphicon-book</li>
        <li><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;glyphicon-bookmark</li>
        <li><span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;glyphicon-print</li>
        <li><span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;glyphicon-camera</li>
        <li><span class="glyphicon glyphicon-font"></span>&nbsp;&nbsp;glyphicon-font</li>
        <li><span class="glyphicon glyphicon-bold"></span>&nbsp;&nbsp;glyphicon-bold</li>
        <li><span class="glyphicon glyphicon-italic"></span>&nbsp;&nbsp;glyphicon-italic</li>
        <li><span class="glyphicon glyphicon-text-height"></span>&nbsp;&nbsp;glyphicon-text-height</li>
        <li><span class="glyphicon glyphicon-text-width"></span>&nbsp;&nbsp;glyphicon-text-width</li>
        <li><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;glyphicon-align-left</li>
        <li><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;glyphicon-align-center</li>
        <li><span class="glyphicon glyphicon-align-right"></span>&nbsp;&nbsp;glyphicon-align-right</li>
        <li><span class="glyphicon glyphicon-align-justify"></span>&nbsp;&nbsp;glyphicon-align-justify</li>
        <li><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;glyphicon-list</li>
        <li><span class="glyphicon glyphicon-indent-left"></span>&nbsp;&nbsp;glyphicon-indent-left</li>
        <li><span class="glyphicon glyphicon-indent-right"></span>&nbsp;&nbsp;glyphicon-indent-right</li>
        <li><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;&nbsp;glyphicon-facetime-video</li>
        <li><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;glyphicon-picture</li>
        <li><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;glyphicon-map-marker</li>
        <li><span class="glyphicon glyphicon-adjust"></span>&nbsp;&nbsp;glyphicon-adjust</li>
        <li><span class="glyphicon glyphicon-tint"></span>&nbsp;&nbsp;glyphicon-tint</li>
        <li><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;glyphicon-edit</li>
        <li><span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;glyphicon-share</li>
        <li><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;glyphicon-check</li>
        <li><span class="glyphicon glyphicon-move"></span>&nbsp;&nbsp;glyphicon-move</li>
        <li><span class="glyphicon glyphicon-step-backward"></span>&nbsp;&nbsp;glyphicon-step-backward</li>
        <li><span class="glyphicon glyphicon-fast-backward"></span>&nbsp;&nbsp;glyphicon-fast-backward</li>
        <li><span class="glyphicon glyphicon-backward"></span>&nbsp;&nbsp;glyphicon-backward</li>
        <li><span class="glyphicon glyphicon-play"></span>&nbsp;&nbsp;glyphicon-play</li>
        <li><span class="glyphicon glyphicon-pause"></span>&nbsp;&nbsp;glyphicon-pause</li>
        <li><span class="glyphicon glyphicon-stop"></span>&nbsp;&nbsp;glyphicon-stop</li>
        <li><span class="glyphicon glyphicon-forward"></span>&nbsp;&nbsp;glyphicon-forward</li>
        <li><span class="glyphicon glyphicon-fast-forward"></span>&nbsp;&nbsp;glyphicon-fast-forward</li>
        <li><span class="glyphicon glyphicon-step-forward"></span>&nbsp;&nbsp;glyphicon-step-forward</li>
        <li><span class="glyphicon glyphicon-eject"></span>&nbsp;&nbsp;glyphicon-eject</li>
        <li><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;glyphicon-chevron-left</li>
        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;glyphicon-chevron-right</li>
        <li><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;glyphicon-plus-sign</li>
        <li><span class="glyphicon glyphicon-minus-sign"></span>&nbsp;&nbsp;glyphicon-minus-sign</li>
        <li><span class="glyphicon glyphicon-remove-sign"></span>&nbsp;&nbsp;glyphicon-remove-sign</li>
        <li><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;&nbsp;glyphicon-ok-sign</li>
        <li><span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;glyphicon-question-sign</li>
        <li><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;glyphicon-info-sign</li>
        <li><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;glyphicon-screenshot</li>
        <li><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;glyphicon-remove-circle</li>
        <li><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;&nbsp;glyphicon-ok-circle</li>
        <li><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;&nbsp;glyphicon-ban-circle</li>
        <li><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;glyphicon-arrow-left</li>
        <li><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;glyphicon-arrow-right</li>
        <li><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;&nbsp;glyphicon-arrow-up</li>
        <li><span class="glyphicon glyphicon-arrow-down"></span>&nbsp;&nbsp;glyphicon-arrow-down</li>
        <li><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;glyphicon-share-alt</li>
        <li><span class="glyphicon glyphicon-resize-full"></span>&nbsp;&nbsp;glyphicon-resize-full</li>
        <li><span class="glyphicon glyphicon-resize-small"></span>&nbsp;&nbsp;glyphicon-resize-small</li>
        <li><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;glyphicon-exclamation-sign</li>
        <li><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;glyphicon-gift</li>
        <li><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;glyphicon-leaf</li>
        <li><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;glyphicon-fire</li>
        <li><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;glyphicon-eye-open</li>
        <li><span class="glyphicon glyphicon-eye-close"></span>&nbsp;&nbsp;glyphicon-eye-close</li>
        <li><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;glyphicon-warning-sign</li>
        <li><span class="glyphicon glyphicon-plane"></span>&nbsp;&nbsp;glyphicon-plane</li>
        <li><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;glyphicon-calendar</li>
        <li><span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;glyphicon-random</li>
        <li><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;glyphicon-comment</li>
        <li><span class="glyphicon glyphicon-magnet"></span>&nbsp;&nbsp;glyphicon-magnet</li>
        <li><span class="glyphicon glyphicon-chevron-up"></span>&nbsp;&nbsp;glyphicon-chevron-up</li>
        <li><span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;glyphicon-chevron-down</li>
        <li><span class="glyphicon glyphicon-retweet"></span>&nbsp;&nbsp;glyphicon-retweet</li>
        <li><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;glyphicon-shopping-cart</li>
        <li><span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;glyphicon-folder-close</li>
        <li><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;glyphicon-folder-open</li>
        <li><span class="glyphicon glyphicon-resize-vertical"></span>&nbsp;&nbsp;glyphicon-resize-vertical</li>
        <li><span class="glyphicon glyphicon-resize-horizontal"></span>&nbsp;&nbsp;glyphicon-resize-horizontal</li>
        <li><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;glyphicon-hdd</li>
        <li><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;glyphicon-bullhorn</li>
        <li><span class="glyphicon glyphicon-bell"></span>&nbsp;&nbsp;glyphicon-bell</li>
        <li><span class="glyphicon glyphicon-certificate"></span>&nbsp;&nbsp;glyphicon-certificate</li>
        <li><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;glyphicon-thumbs-up</li>
        <li><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;&nbsp;glyphicon-thumbs-down</li>
        <li><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;glyphicon-hand-right</li>
        <li><span class="glyphicon glyphicon-hand-left"></span>&nbsp;&nbsp;glyphicon-hand-left</li>
        <li><span class="glyphicon glyphicon-hand-up"></span>&nbsp;&nbsp;glyphicon-hand-up</li>
        <li><span class="glyphicon glyphicon-hand-down"></span>&nbsp;&nbsp;glyphicon-hand-down</li>
        <li><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;glyphicon-circle-arrow-right</li>
        <li><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;glyphicon-circle-arrow-left</li>
        <li><span class="glyphicon glyphicon-circle-arrow-up"></span>&nbsp;&nbsp;glyphicon-circle-arrow-up</li>
        <li><span class="glyphicon glyphicon-circle-arrow-down"></span>&nbsp;&nbsp;glyphicon-circle-arrow-down</li>
        <li><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;glyphicon-globe</li>
        <li><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;glyphicon-wrench</li>
        <li><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;glyphicon-tasks</li>
        <li><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;glyphicon-filter</li>
        <li><span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;glyphicon-briefcase</li>
        <li><span class="glyphicon glyphicon-fullscreen"></span>&nbsp;&nbsp;glyphicon-fullscreen</li>
        <li><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;glyphicon-dashboard</li>
        <li><span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;glyphicon-paperclip</li>
        <li><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;&nbsp;glyphicon-heart-empty</li>
        <li><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;glyphicon-link</li>
        <li><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;glyphicon-phone</li>
        <li><span class="glyphicon glyphicon-pushpin"></span>&nbsp;&nbsp;glyphicon-pushpin</li>
        <li><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;glyphicon-usd</li>
        <li><span class="glyphicon glyphicon-gbp"></span>&nbsp;&nbsp;glyphicon-gbp</li>
        <li><span class="glyphicon glyphicon-sort"></span>&nbsp;&nbsp;glyphicon-sort</li>
        <li><span class="glyphicon glyphicon-sort-by-alphabet"></span>&nbsp;&nbsp;glyphicon-sort-by-alphabet</li>
        <li><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>&nbsp;&nbsp;glyphicon-sort-by-alphabet-alt</li>
        <li><span class="glyphicon glyphicon-sort-by-order"></span>&nbsp;&nbsp;glyphicon-sort-by-order</li>
        <li><span class="glyphicon glyphicon-sort-by-order-alt"></span>&nbsp;&nbsp;glyphicon-sort-by-order-alt</li>
        <li><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;glyphicon-sort-by-attributes</li>
        <li><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;&nbsp;glyphicon-sort-by-attributes-alt</li>
        <li><span class="glyphicon glyphicon-unchecked"></span>&nbsp;&nbsp;glyphicon-unchecked</li>
        <li><span class="glyphicon glyphicon-expand"></span>&nbsp;&nbsp;glyphicon-expand</li>
        <li><span class="glyphicon glyphicon-collapse-down"></span>&nbsp;&nbsp;glyphicon-collapse-down</li>
        <li><span class="glyphicon glyphicon-collapse-up"></span>&nbsp;&nbsp;glyphicon-collapse-up</li>
        <li><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;glyphicon-log-in</li>
        <li><span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;glyphicon-flash</li>
        <li><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;glyphicon-log-out</li>
        <li><span class="glyphicon glyphicon-new-window"></span>&nbsp;&nbsp;glyphicon-new-window</li>
        <li><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;glyphicon-record</li>
        <li><span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;glyphicon-save</li>
        <li><span class="glyphicon glyphicon-open"></span>&nbsp;&nbsp;glyphicon-open</li>
        <li><span class="glyphicon glyphicon-saved"></span>&nbsp;&nbsp;glyphicon-saved</li>
        <li><span class="glyphicon glyphicon-import"></span>&nbsp;&nbsp;glyphicon-import</li>
        <li><span class="glyphicon glyphicon-export"></span>&nbsp;&nbsp;glyphicon-export</li>
        <li><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;glyphicon-send</li>
        <li><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;glyphicon-floppy-disk</li>
        <li><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;glyphicon-floppy-saved</li>
        <li><span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;&nbsp;glyphicon-floppy-remove</li>
        <li><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;&nbsp;glyphicon-floppy-save</li>
        <li><span class="glyphicon glyphicon-floppy-open"></span>&nbsp;&nbsp;glyphicon-floppy-open</li>
        <li><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;glyphicon-credit-card</li>
        <li><span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;glyphicon-transfer</li>
        <li><span class="glyphicon glyphicon-cutlery"></span>&nbsp;&nbsp;glyphicon-cutlery</li>
        <li><span class="glyphicon glyphicon-header"></span>&nbsp;&nbsp;glyphicon-header</li>
        <li><span class="glyphicon glyphicon-compressed"></span>&nbsp;&nbsp;glyphicon-compressed</li>
        <li><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;glyphicon-earphone</li>
        <li><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;glyphicon-phone-alt</li>
        <li><span class="glyphicon glyphicon-tower"></span>&nbsp;&nbsp;glyphicon-tower</li>
        <li><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;glyphicon-stats</li>
        <li><span class="glyphicon glyphicon-sd-video"></span>&nbsp;&nbsp;glyphicon-sd-video</li>
        <li><span class="glyphicon glyphicon-hd-video"></span>&nbsp;&nbsp;glyphicon-hd-video</li>
        <li><span class="glyphicon glyphicon-subtitles"></span>&nbsp;&nbsp;glyphicon-subtitles</li>
        <li><span class="glyphicon glyphicon-sound-stereo"></span>&nbsp;&nbsp;glyphicon-sound-stereo</li>
        <li><span class="glyphicon glyphicon-sound-dolby"></span>&nbsp;&nbsp;glyphicon-sound-dolby</li>
        <li><span class="glyphicon glyphicon-sound-5-1"></span>&nbsp;&nbsp;glyphicon-sound-5-1</li>
        <li><span class="glyphicon glyphicon-sound-6-1"></span>&nbsp;&nbsp;glyphicon-sound-6-1</li>
        <li><span class="glyphicon glyphicon-sound-7-1"></span>&nbsp;&nbsp;glyphicon-sound-7-1</li>
        <li><span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;&nbsp;glyphicon-copyright-mark</li>
        <li><span class="glyphicon glyphicon-registration-mark"></span>&nbsp;&nbsp;glyphicon-registration-mark</li>
        <li><span class="glyphicon glyphicon-cloud-download"></span>&nbsp;&nbsp;glyphicon-cloud-download</li>
        <li><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;&nbsp;glyphicon-cloud-upload</li>
        <li><span class="glyphicon glyphicon-tree-conifer"></span>&nbsp;&nbsp;glyphicon-tree-conifer</li>
        <li><span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;&nbsp;glyphicon-tree-deciduous</li>
        <li><span class="glyphicon glyphicon-cd"></span>&nbsp;&nbsp;glyphicon-cd</li>
        <li><span class="glyphicon glyphicon-save-file"></span>&nbsp;&nbsp;glyphicon-save-file</li>
        <li><span class="glyphicon glyphicon-open-file"></span>&nbsp;&nbsp;glyphicon-open-file</li>
        <li><span class="glyphicon glyphicon-level-up"></span>&nbsp;&nbsp;glyphicon-level-up</li>
        <li><span class="glyphicon glyphicon-copy"></span>&nbsp;&nbsp;glyphicon-copy</li>
        <li><span class="glyphicon glyphicon-paste"></span>&nbsp;&nbsp;glyphicon-paste</li>
        <li><span class="glyphicon glyphicon-alert"></span>&nbsp;&nbsp;glyphicon-alert</li>
        <li><span class="glyphicon glyphicon-equalizer"></span>&nbsp;&nbsp;glyphicon-equalizer</li>
        <li><span class="glyphicon glyphicon-king"></span>&nbsp;&nbsp;glyphicon-king</li>
        <li><span class="glyphicon glyphicon-queen"></span>&nbsp;&nbsp;glyphicon-queen</li>
        <li><span class="glyphicon glyphicon-pawn"></span>&nbsp;&nbsp;glyphicon-pawn</li>
        <li><span class="glyphicon glyphicon-bishop"></span>&nbsp;&nbsp;glyphicon-bishop</li>
        <li><span class="glyphicon glyphicon-knight"></span>&nbsp;&nbsp;glyphicon-knight</li>
        <li><span class="glyphicon glyphicon-baby-formula"></span>&nbsp;&nbsp;glyphicon-baby-formula</li>
        <li><span class="glyphicon glyphicon-tent"></span>&nbsp;&nbsp;glyphicon-tent</li>
        <li><span class="glyphicon glyphicon-blackboard"></span>&nbsp;&nbsp;glyphicon-blackboard</li>
        <li><span class="glyphicon glyphicon-bed"></span>&nbsp;&nbsp;glyphicon-bed</li>
        <li><span class="glyphicon glyphicon-apple"></span>&nbsp;&nbsp;glyphicon-apple</li>
        <li><span class="glyphicon glyphicon-erase"></span>&nbsp;&nbsp;glyphicon-erase</li>
        <li><span class="glyphicon glyphicon-hourglass"></span>&nbsp;&nbsp;glyphicon-hourglass</li>
        <li><span class="glyphicon glyphicon-lamp"></span>&nbsp;&nbsp;glyphicon-lamp</li>
        <li><span class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;glyphicon-duplicate</li>
        <li><span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;&nbsp;glyphicon-piggy-bank</li>
        <li><span class="glyphicon glyphicon-scissors"></span>&nbsp;&nbsp;glyphicon-scissors</li>
        <li><span class="glyphicon glyphicon-bitcoin"></span>&nbsp;&nbsp;glyphicon-bitcoin</li>
        <li><span class="glyphicon glyphicon-btc"></span>&nbsp;&nbsp;glyphicon-btc</li>
        <li><span class="glyphicon glyphicon-xbt"></span>&nbsp;&nbsp;glyphicon-xbt</li>
        <li><span class="glyphicon glyphicon-yen"></span>&nbsp;&nbsp;glyphicon-yen</li>
        <li><span class="glyphicon glyphicon-jpy"></span>&nbsp;&nbsp;glyphicon-jpy</li>
        <li><span class="glyphicon glyphicon-ruble"></span>&nbsp;&nbsp;glyphicon-ruble</li>
        <li><span class="glyphicon glyphicon-rub"></span>&nbsp;&nbsp;glyphicon-rub</li>
        <li><span class="glyphicon glyphicon-scale"></span>&nbsp;&nbsp;glyphicon-scale</li>
        <li><span class="glyphicon glyphicon-ice-lolly"></span>&nbsp;&nbsp;glyphicon-ice-lolly</li>
        <li><span class="glyphicon glyphicon-ice-lolly-tasted"></span>&nbsp;&nbsp;glyphicon-ice-lolly-tasted</li>
        <li><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;glyphicon-education</li>
        <li><span class="glyphicon glyphicon-option-horizontal"></span>&nbsp;&nbsp;glyphicon-option-horizontal</li>
        <li><span class="glyphicon glyphicon-option-vertical"></span>&nbsp;&nbsp;glyphicon-option-vertical</li>
        <li><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;&nbsp;glyphicon-menu-hamburger</li>
        <li><span class="glyphicon glyphicon-modal-window"></span>&nbsp;&nbsp;glyphicon-modal-window</li>
        <li><span class="glyphicon glyphicon-oil"></span>&nbsp;&nbsp;glyphicon-oil</li>
        <li><span class="glyphicon glyphicon-grain"></span>&nbsp;&nbsp;glyphicon-grain</li>
        <li><span class="glyphicon glyphicon-sunglasses"></span>&nbsp;&nbsp;glyphicon-sunglasses</li>
        <li><span class="glyphicon glyphicon-text-size"></span>&nbsp;&nbsp;glyphicon-text-size</li>
        <li><span class="glyphicon glyphicon-text-color"></span>&nbsp;&nbsp;glyphicon-text-color</li>
        <li><span class="glyphicon glyphicon-text-background"></span>&nbsp;&nbsp;glyphicon-text-background</li>
        <li><span class="glyphicon glyphicon-object-align-top"></span>&nbsp;&nbsp;glyphicon-object-align-top</li>
        <li><span class="glyphicon glyphicon-object-align-bottom"></span>&nbsp;&nbsp;glyphicon-object-align-bottom</li>
        <li><span class="glyphicon glyphicon-object-align-horizontal"></span>&nbsp;&nbsp;glyphicon-object-align-horizontal</li>
        <li><span class="glyphicon glyphicon-object-align-left"></span>&nbsp;&nbsp;glyphicon-object-align-left</li>
        <li><span class="glyphicon glyphicon-object-align-vertical"></span>&nbsp;&nbsp;glyphicon-object-align-vertical</li>
        <li><span class="glyphicon glyphicon-object-align-right"></span>&nbsp;&nbsp;glyphicon-object-align-right</li>
        <li><span class="glyphicon glyphicon-triangle-right"></span>&nbsp;&nbsp;glyphicon-triangle-right</li>
        <li><span class="glyphicon glyphicon-triangle-left"></span>&nbsp;&nbsp;glyphicon-triangle-left</li>
        <li><span class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;&nbsp;glyphicon-triangle-bottom</li>
        <li><span class="glyphicon glyphicon-triangle-top"></span>&nbsp;&nbsp;glyphicon-triangle-top</li>
        <li><span class="glyphicon glyphicon-console"></span>&nbsp;&nbsp;glyphicon-console</li>
        <li><span class="glyphicon glyphicon-superscript"></span>&nbsp;&nbsp;glyphicon-superscript</li>
        <li><span class="glyphicon glyphicon-subscript"></span>&nbsp;&nbsp;glyphicon-subscript</li>
        <li><span class="glyphicon glyphicon-menu-left"></span>&nbsp;&nbsp;glyphicon-menu-left</li>
        <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;glyphicon-menu-right</li>
        <li><span class="glyphicon glyphicon-menu-down"></span>&nbsp;&nbsp;glyphicon-menu-down</li>
        <li><span class="glyphicon glyphicon-menu-up"></span>&nbsp;&nbsp;glyphicon-menu-up</li>

    </ul>


</div>
