@using Gateway.Web.Enums
@using Gateway.Web.Models.Monitoring
@model Gateway.Web.Database.RiskBatchModel
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "Monitoring";
    ViewBag.Current = "Risk Batches";
}
@{ Html.RenderPartial("_MonitoringNav"); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="text-lowercase">Risk Batches</h3>
            </div>
        </div>
        
        <div id="report-content" style="margin-top: 10px;">
            @{ Html.RenderPartial("_BatchStates", @Model.Items); }
        </div>

    </div>
</div>