<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Environment" value="DEV" />
  <add key="ControllerActionRefresh" value="60" />
  <add key="LogLocation" value="D:\DATA\LogFiles\Redstone\UI\" />
  <add key="ConsoleLogLevel" value="INFO" />
  <add key="FileLogLevel" value="ERROR" />
  <add key="ImportantLogLevel" value="WARN" />
  <add key="RemoteAppsDirectory" value="\\Intranet.barcapint.com\dfs-emea\Group\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Apps" />
  <add key="ApiDocumentationPath" value="\\intranet.barcapint.com\dfs-emea\GROUP\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Controllers\{0}\{1}\Documentation\API" />
  <add key="ExcelDocumentationPath" value="\\intranet.barcapint.com\dfs-emea\GROUP\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Controllers\{0}\{1}\Documentation\EXCEL" />
  <add key="LocalGateway" value="localhost" />
  <add key="KnownGateways" value="localhost" />
  <add key="OverrideLocalGateway" value="true" />
  <add key="PdcServices" value="ZAPRNBMAPP1187.corp.dsarena.com:9215" />
  <add key="Servers" value="ZAPRNBMAPP1186.corp.dsarena.com;ZAPRNBMAPP1187.corp.dsarena.com;ZAPRNBMAPP1296.corp.dsarena.com;JHBPSM020000759.intranet.barcapint.com" />
  <add key="Pnr.PricingLocation" value="\\Intranet.barcapint.com\dfs-emea\Group\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Controllers\Pricing\" />
  <add key="MonitoringDashboardUrl" value="http://sigma-monitoring-dev.absa.co.za/?orgId=1" />
  <add key="BatchMetricsUrl" value="http://zaprnbrapp1181.corp.dsarena.com/d/n4Ff6gSZk/sigma-batch-schedule-id?orgId=1&amp;var-scheduleID={0}" />
</appSettings>