<connectionStrings>
  <add name="GatewayEntities" connectionString="metadata=res://*/Database.PnRFO_Gateway.csdl|res://*/Database.PnRFO_Gateway.ssdl|res://*/Database.PnRFO_Gateway.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZAPRNBMSQL1045\SIGMA_MAIN1_DEV;initial catalog=Gateway;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
