<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Environment" value="DEV" />
  <add key="ControllerActionRefresh" value="60" />
  <add key="LogLocation" value="C:\DATA\LogFiles\Redstone\UI\" />
  <add key="ConsoleLogLevel" value="INFO" />
  <add key="FileLogLevel" value="INFO" />
  <add key="ImportantLogLevel" value="WARN" />
  <add key="LocalGateway" value="localhost" />
  <add key="KnownGateways" value="localhost" />
  <add key="OverrideLocalGateway" value="false" />
  <add key="PdcServices" value="ZAPRNBMAPP1048.corp.dsarena.com:9215" />
  <add key="Servers" value="ZAPRNBMAPP1045.corp.dsarena.com;ZAPRNBMAPP1046.corp.dsarena.com;ZAPRNBMAPP1047.corp.dsarena.com;ZAPRNBMAPP1048.corp.dsarena.com;JHBDSM020000420.intranet.barcapint.com;JHBDSM020000421.intranet.barcapint.com;JHBPSM020000757.intranet.barcapint.com;JHBPSM020000758.intranet.barcapint.com;JHBPSM020001295.intranet.barcapint.com" />
  <add key="MonitoringDashboardUrl" value="http://sigma-monitoring.absa.co.za:3000/?orgId=1" />
  <add key="BatchMetricsUrl" value="http://zaprnbrapp1179.corp.dsarena.com/d/n4Ff6gSZk/sigma-batch-schedule-id?orgId=1&amp;var-scheduleID={0}" />
  <add key="AuthUrl" value ="http://localhost:7000/webauth"/>
  <add key="PortfolioProfilePortfolios" value ="africa_curr,bvoe,fut,Exotic Opt,g7oe,voe,abvoe4f,crt_Illiquid_fx_options,crt_liquid_fx_options,eq_sa_spreads,ltnz_4front,fi_options_fx,jn_fxoptions,man_options"/>
</appSettings>