<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Environment" value="UAT" />
  <add key="KnownGateways" value="JHBPSM020000757;JHBPSM020000758" />
</appSettings>