<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Environment" value="UAT" />
  <add key="KnownGateways" value="JHBPSM020000757;JHBPSM020000758" />
  <add key="TickerIntervalMs" value="2000" />
  <add key="ControllerActionRefresh" value="60" />
  <add key="LogLocation" value="C:\DATA\LogFiles\Redstone\UI\" />
  <add key="ConsoleLogLevel" value="INFO" />
  <add key="FileLogLevel" value="ERROR" />
  <add key="ImportantLogLevel" value="WARN" />
</appSettings>