.datatable {
  width: 100%;
  border: 1px solid #d6dde6;
  border-collapse: collapse;
}

.datatable td {
  border: 1px solid #d6dde6;
  padding: 0.3em;
}

.datatable th {
  border: 1px solid #828282;
  background-color: #bcbcbc;
  font-weight: bold;
  text-align: left;
  padding-left: 0.3em;
}

.datatable caption {
  font: bold 110% Arial, Helvetica, sans-serif;
  color: #33517a;
  text-align: left;
  padding: 0.4em 0 0.8em 0;
}

.error {
  color: #990505;  
}

.success {
  color: darkblue;  
}

.datatable thead {
  background-color: #990505;
  color: #FFF;
}

.datatable tr:nth-child(even) {
  background-color: #E9E9E9;  
}