body {
    padding-top: 50px;
    padding-bottom: 40px;
}

.home-discover {
    background: whitesmoke;
}

li [class^="icon-"], .the-icons li [class*=" icon-"] {
    width: 32px;
    font-size: 16px;
}

li [class^="icon-"], li [class*=" icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

.list-head {
    margin-left: 5px;
}

.list-meta {
    color: #777;
    margin-top: 0;
    font-size: 13px;
}

.state_unknown {
    padding: 0 5px;
    color: #C0C0C0;
}

.state_okay {
    padding: 0 5px;
    color: #05B505;
}

.state_warn {
    margin: 0 2px;
    padding: 0 5px;
    color: #FFFFFF;
    background-color: #FF8E08
}

.state_fail {
    margin: 0 2px;
    padding: 0 5px;
    color: #FFFFFF;
    background-color: #EF1C21
}

.avatar {
    margin-top: 2px;
    margin-bottom: 3px;
    border-radius: 15px;
    width: 24px;
    height: 24px;
}

.readme {
    margin-top: 20px;
}

.containerx {
    margin: 0 0px;
}

    .containerx .bulk {
        background-color: white;
    }

    .containerx .readme {
        display: none;
    }

    .containerx .packages {
        display: none;
    }

    .containerx div.widget {
        width: 280px;
    }

    .containerx .widget .main {
        display: block;
    }

div.packages ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    position: relative;
}

.widget {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    background: #fff;
    float: left;
    margin: 5px 5px;
}

.contributors {
    height: 50px;
}

.widget .main {
    display: none;
}

.open {
    position: relative;
}

.list-widget {
    max-width: 1000px;
    padding-right: 20px;
}

a {
    color: #990505;
}

.hoverlink {
    color: #777;
    margin-left: 2px;
}

.sidebar-nav li a:hover {
    color: #990505;
}

#sidebar-wrapper {
    background: #F5F5F5;
    color: #000;
    border-right: 1px solid #CCCCCC;
}

.sidebar-nav {
    color: #727478;
}

    .sidebar-nav li a {
        color: #000;
    }

pre {
    white-space: nowrap; /* Since CSS 2.1 */
    /*white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    /*white-space: -pre-wrap; /* Opera 4-6 */
    /*white-space: -o-pre-wrap; /* Opera 7 */
    /*word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.navbar-env {
    background-color: #343434;
    border: 0;
    border-bottom: 1px solid #9396A5;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.progress-bar {
    line-height: 10px;
    color: #000;
}

.pre-progress-bar {
    float: right;
    margin-right: 5px;
    font-size: 10px;
    line-height: 10px;
    color: #000;
}

.post-progress-bar {
    float: left;
    margin-left: 5px;
    font-size: 10px;
    line-height: 10px;
    color: #000;
}

.progress-bar-none {
    background-color: transparent;
    -webkit-box-shadow: none;
    text-align: right;
    box-shadow: none;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    col-md-2 control-label display: inline;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

.btn-spinner {
    color: #000000;
    background-color: #cccccc;
    border-color: #cccccc;
    margin-top: 0px;
    margin-right: 0px;
    height: 2.5em;
}

.form-control {
    margin-top: 5px;
}

.control-label {
    font-size: 1.0em;
    font-weight: normal;
}

.number-spinner {
    border: 1px solid #e2e2e2;
    background: #fff;
    width: 150px;
    margin-top: 5px;
    height: 2em;
}

.info-block {
    border: 1px solid #AAB8C6;
    border-radius: 5px;
    margin: 5px 5px;
    background: #FCFCFC;
    padding: 10px 10px 10px 36px;
    color: #333;
}

.user-info {
    text-align: right;
    margin-top: 9px;
    color: #CCCCCC;
    line-height: 1.2;
}

.server-info-label {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
}
.server-info-value {
    font-weight: bold;
    color: darkred;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
}

.clickableheader {
    color: white;
}

.selection-filter-main {
    margin-top: 20px;
}

.selection-filter-button {
    cursor: pointer;
}

.selection-filter {
    margin-top: 10px;
}

.selection-filter-label {
    cursor: pointer;
}

.chart-panel {
    margin-top: 30px
}

.chart-progress-bar {
    min-height: 320px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

progress {
    display:inline-block;
    width:190px;
    height:10px;
    opacity: 0.7;
    padding:15px 0 0 0;
    margin:0;
    background:none;
    border: 0;
    border-radius: 3px;
    text-align: left;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
progress::-webkit-progress-bar {
    height:6px;
    width:150px;
    margin:0 auto;
    background-color: #CCC;
    border-radius: 8px;
    box-shadow:0px 0px 6px #777 inset;
}
progress::-webkit-progress-value {
    display:inline-block;
    float:left;
    height:6px;
    margin:0px -10px 0 0;
    background: #05367B;
    border-radius: 8px;
    box-shadow:0px 0px 6px #777 inset;
}