@using Gateway.Web.Database
@using Gateway.Web.Models
@using Gateway.Web.Models.Controller
@using Gateway.Web.Models.User
@using Gateway.Web.Utils
@using Newtonsoft.Json
@using Version = Gateway.Web.Models.Controller.Version
@{
    Layout = "~/Views/Shared/_Layout.NoFooter.cshtml";
    ViewBag.Title = "User: " + @Model.Login;
    ViewBag.Current = "History";
}
@{ Html.RenderPartial("_UserNav", (IUserModel)@Model); }

<div id="page-content-wrapper">
    <div class="hero-unit">

        <h3 class="text-lowercase">Last @Model.Requests.Count requests</h3>

        <br />

        <div class="containerx bulk">
            @{ Html.RenderPartial("_HistoryItems", (List<HistoryItem>)@Model.Requests); }
        </div>

        <br />

    </div>
</div>
