@using System.Xml.Schema
@using Gateway.Web.Models
@using Gateway.Web.Models.Controllers
@using System.Web.UI.WebControls
@using Gateway.Web.Models.Controller

<div class="row">

    <h3>Report</h3>

    <br />
    under construction 
    
    <br/>
    <h3>PFE Report</h3>

    <br />

    <pre>@Model.ReportXml</pre>

</div>