<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br />
    <div>
        <img class="profileimg" src="@Url.Content("~/Content/img/controller.png")" style="height: 36px">
        <b class="profilename">@ViewBag.Title</b>
    </div>

    <ul class="sidebar-nav">
        <li>
            <a href="~/Request/Detail?correlationId=@Model.CorrelationId"
               class="@(ViewBag.Current == "Details" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Details
            </a>
        </li>
        <li>
            <a href="~/Request/Timings?correlationId=@Model.CorrelationId"
               class="@(ViewBag.Current == "Timings" ? "active" : "")">
                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Timings
            </a>
        </li>
        <li>
            &nbsp;
        </li>
        <li>
            <a href="javascript:void(0);" onclick="history.go(-1);" style="color: yellow">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;Return
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
