<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Environment" value="PROD" />
  <add key="ControllerActionRefresh" value="60" />
  <add key="LogLocation" value="D:\DATA\LogFiles\Redstone\UI\" />
  <add key="ConsoleLogLevel" value="INFO" />
  <add key="FileLogLevel" value="ERROR" />
  <add key="ImportantLogLevel" value="WARN" />
  <add key="RemoteAppsDirectory" value="\\Intranet.barcapint.com\dfs-emea\Group\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Apps" />
  <add key="ApiDocumentationPath" value="\\intranet.barcapint.com\dfs-emea\GROUP\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Controllers\{0}\{1}\Documentation\API" />
  <add key="ExcelDocumentationPath" value="\\intranet.barcapint.com\dfs-emea\GROUP\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Controllers\{0}\{1}\Documentation\EXCEL" />
  <add key="SchedulingConnectionString" value="data source=JHBPSM05031V05A\MOPL_MAIN1_PROD;initial catalog=Gateway;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" />
  <add key="LocalGateway" value="localhost" />
  <add key="KnownGateways" value="localhost" />
  <add key="OverrideLocalGateway" value="true" />
  <add key="PdcServices" value="22.148.89.3:9215" />
  <add key="Servers" value="ZAPALSMREDAP01.corp.dsarena.com;ZAPALSMREDAP02.corp.dsarena.com;ZAPALSMREDAP03.corp.dsarena.com;ZAPALSMREDAP04.corp.dsarena.com;ZAPSDCMREDAP01.corp.dsarena.com;ZAPSDCMREDAP02.corp.dsarena.com;ZAPSDCMREDAP03.corp.dsarena.com;ZAPSDCMREDAP04.corp.dsarena.com" />
  <add key="Pnr.PricingLocation" value="\\Intranet.barcapint.com\dfs-emea\Group\Jhb\IT_Pricing_Risk\Builds\Redstone\MASTER\Controllers\Pricing\" />
  <add key="MonitoringDashboardUrl" value="http://sigma-monitoring.absa.co.za/?orgId=1" />
  <add key="BatchMetricsUrl" value="http://sigma-monitoring.absa.co.za/d/n4Ff6gSZk/sigma-batch-schedule-id?orgId=1&amp;var-scheduleID={0}" />
  <add key="AuthUrl" value ="https://sigma.absa.co.za/authorization/webauth"/>
  <add key="PortfolioProfilePortfolios" value ="africa_curr,bvoe,fut,Exotic Opt,g7oe,voe,abvoe4f,crt_Illiquid_fx_options,crt_liquid_fx_options,eq_sa_spreads,ltnz_4front,fi_options_fx,jn_fxoptions,man_options"/>
</appSettings>
